body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  box-sizing: border-box;
  border: 0;
}

body::selection{
  color: white;
  background-color: rgb(43, 12, 70);
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #030312; 
}

body::-webkit-scrollbar-thumb {
  background-color: #140321; 
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #250329; 
}


h1, h2, h3, h4, h5 {
  letter-spacing: -0.02em;
  font-weight: 600;
}


